#General
node_modules
.history
.DS_Store
npm-debug.log

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Example data
./*.csv

# Data generated in tests
test/test_sandbox

# Optional npm cache directory
.npm
